img {
  max-height: 400px;
  max-width: 300px;
}

a {
  color: steelblue;
}

a:hover {
  text-decoration: none;
  color: black;
}

.photo-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: steelblue;
  color: white;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-page {
  margin: 0 15px;
}
